<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Change Installer UI Example</Name>
    <Version>1.0.0</Version>
    <Title>Change Installer UI Example</Title>
    <Publisher>Qt-Project</Publisher>
    <StartMenuDir>Qt IFW Examples</StartMenuDir>
    <TargetDir>@HomeDir@/IfwExamples/changeuserinterface</TargetDir>
</Installer>
