<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Unstable components Example</Name>
    <Version>1.0.0</Version>
    <Title>Unstable components Example</Title>
    <Publisher>Qt-Project</Publisher>
    <StartMenuDir>Qt IFW Examples</StartMenuDir>
    <TargetDir>@HomeDir@/IfwExamples/unstablecomponent</TargetDir>
    <AllowUnstableComponents>true</AllowUnstableComponents>
    <ControlScript>controller.qs</ControlScript>
</Installer>
