<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Dependency Solving Example</Name>
    <Version>1.0.0</Version>
    <Title>Dependency Solving Example</Title>
    <Publisher>Qt-Project</Publisher>
    <StartMenuDir>Qt IFW Examples</StartMenuDir>
    <TargetDir>@HomeDir@/IfwExamples/dependencies</TargetDir>
    <CreateLocalRepository>true</CreateLocalRepository>
    <InstallActionColumnVisible>true</InstallActionColumnVisible>
</Installer>
