<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Component error Installer Example</Name>
    <Version>1.0.0</Version>
    <Title>Component error Installer Example</Title>
    <Publisher>Qt-Project</Publisher>
    <StartMenuDir>Qt Installer Framework Example</StartMenuDir>
    <TargetDir>@homeDir@/IFWComponentErrorInstallerExample</TargetDir>
</Installer>
