<?xml version="1.0"?>
<Installer>
    <Name>Test App</Name>
    <Version>1.0.0</Version>
    <Title>Test App_Hurra</Title>
    <Publisher>Digia</Publisher>
    <ProductUrl>http://qt.digia.com</ProductUrl>

    <Icon>qticon</Icon>
    <Watermark>watermark.png</Watermark>
    <UninstallerName>TestAppUninstaller</UninstallerName>
    <RemoteRepositories>
        <Repository>
            <Url>http://www.example.com/repository</Url>
        </Repository>
    </RemoteRepositories>

    <!-- @homeDir@ and @rootDir@ are some of the supported vars -->
    <TargetDir>@homeDir@/testinstall</TargetDir>
</Installer>
