<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>License Agreement Example</Name>
    <Version>1.0.0</Version>
    <Title>License Agreement Example</Title>
    <Publisher>Qt-Project</Publisher>
    <StartMenuDir>Qt Installer Framework Example</StartMenuDir>
    <TargetDir>@HomeDir@/IfwExamples/licenseagreement</TargetDir>
</Installer>
