<?xml version="1.0"?>
<Installer>
    <Name>Qt SDK</Name>
    <Version>0.9.0</Version>
    <Title>Qt SDK</Title>
    <MaintenanceTitle>Maintain Qt SDK</MaintenanceTitle>
    <Publisher>Nokia</Publisher>
    <Logo>logo.png</Logo>
    <LogoSmall>logo-small.png</LogoSmall>
    <Icon>logo-small</Icon>
    <License>license.txt</License>
    <Watermark>watermark.png</Watermark>
    <RunProgram></RunProgram>
    <StartMenuDir>Qt SDK - Release Candidate</StartMenuDir>
    <UninstallerName>SDKMaintenanceTool</UninstallerName>
    
    <!-- @homeDir@ and @rootDir@ are some of the supported vars -->
    <TargetDir>@homeDir@/NokiaQtSDK</TargetDir>

    <RemoteRepositories>
       <Repository>
<!--
         <Url>http://schnappie.nokia.troll.no/alpha/onlinendk</Url>
-->
         <Url>http://hegel.europe.nokia.com/projects/ndk/installers/linux/x64/online_nokiaqtsdk_repo</Url>
         <Required>true</Required>
       </Repository>
    </RemoteRepositories>
</Installer>
