<?xml version="1.0"?>
<Installer>
    <Name>Test App</Name>
    <Version>1</Version>
    <Title>Test App</Title>
    <Publisher>Nokia</Publisher>
    <ProductUrl>http://qt.nokia.com</ProductUrl>

    <!-- @homeDir@ and @rootDir@ are some of the supported vars -->
    <TargetDir>@homeDir@/testinstall</TargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>http://www.kdab.com/~christoph/testapp</Url>
        </Repository>
    </RemoteRepositories>
</Installer>
